
.modal_wrapper {
  position: absolute;
  top: 0px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  top: 75px;
  bottom: 75px;
  left: 125px;
  right: 125px;

  border: 0px solid rgb(204, 204, 204);
  background: rgb(255, 255, 255);
  overflow: auto;
  border-radius: 15px;
  outline: none;
  padding: 80px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  scroll-behavior: smooth;
}

.icon {
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 0px;
  margin-right: 0px;

  color: var(--purple);
}

.profile-preferences-close {
  position: absolute;
  top: 15px;
  right: 15px;

  display: flex;
  margin: 0;
  padding: 0;

  transition: 0.5s;
  cursor: pointer;
  border: none;
  background: none;
}

.profile-preferences-close:hover {
  opacity: 0.5;
}

.legend {
  /*position: -webkit-sticky;*/
  position: fixed;
  top: 75px;
  left: 125px;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;

  height: 50%;  /*maybe change this*/
  width: 5vw;
  z-index: 99;
  background-color: var(--pink);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.legend a {
  transition: 0.75s;
}

.legend a:hover {
  opacity: 0.5;
}

.section_wrapper {
  position: relative;
  top: 400px; 
  left: 2vw;

  width: 60%;
}

.form_wrapper {
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 0;
  margin-right: 0;
}

.spacer {
  width: 100%;
  height: 50px;
}

.title {
  font-weight: 600;
  letter-spacing: 0.75px;
}

.submit_button p {
  margin: 0;
  padding: 0;
}

.submit_button {
  position: relative;
  bottom: 0;
  left: 0;

  display: flex;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 50px;

  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 50px;
  padding-right: 50px;

  color: var(--black) !important;
  font-weight: 600;
  letter-spacing: 1px;
  background-color: var(--pink) !important;
  border: none;
  border-radius: 10px;

  transition: 0.35s;
}

.submit_button:hover {
  color: white !important;
  background-color: var(--purple) !important;
  border: green !important;
}

.react-tags {
  position: relative;
  padding: 6px 0 0 6px;
  border: 1px solid #d1d1d1;
  border-radius: 1px;

  /* shared font styles */
  font-size: 1em;
  line-height: 1.2;

  /* clicking anywhere will focus the input */
  cursor: text;
}

.react-tags.is-focused {
  border-color: #b1b1b1;
}

.react-tags__selected {
  display: inline;
}

.react-tags__selected-tag {
  display: inline-block;
  box-sizing: border-box;
  margin: 0 6px 6px 0;
  padding: 6px 8px;
  border: 1px solid #d1d1d1;
  border-radius: 2px;
  background: #f1f1f1;

  /* match the font styles */
  font-size: inherit;
  line-height: inherit;
}

.react-tags__selected-tag:after {
  content: "\2715";
  color: #aaa;
  margin-left: 8px;
}

.react-tags__selected-tag:hover,
.react-tags__selected-tag:focus {
  border-color: #b1b1b1;
}

.react-tags__search {
  display: inline-block;

  /* match tag layout */
  padding: 7px 2px;
  margin-bottom: 6px;

  /* prevent autoresize overflowing the container */
  max-width: 100%;
}

@media screen and (min-width: 30em) {
  .react-tags__search {
    /* this will become the offsetParent for suggestions */
    position: relative;
  }
}

.react-tags__search input {
  /* prevent autoresize overflowing the container */
  max-width: 100%;

  /* remove styles and layout from this element */
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;

  /* match the font styles */
  font-size: inherit;
  line-height: inherit;
}

.react-tags__search input::-ms-clear {
  display: none;
}

.react-tags__suggestions {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
}

@media screen and (min-width: 30em) {
  .react-tags__suggestions {
    width: 240px;
  }
}

.react-tags__suggestions ul {
  margin: 4px -1px;
  padding: 0;
  list-style: none;
  background: white;
  border: 1px solid #d1d1d1;
  border-radius: 2px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.react-tags__suggestions li {
  border-bottom: 1px solid #ddd;
  padding: 6px 8px;
}

.react-tags__suggestions li mark {
  text-decoration: underline;
  background: none;
  font-weight: 600;
}

.react-tags__suggestions li:hover {
  cursor: pointer;
  background: #eee;
}

.react-tags__suggestions li.is-active {
  background: #b7cfe0;
}

.react-tags__suggestions li.is-disabled {
  opacity: 0.5;
  cursor: auto;
}
