
.roommate-selection-panel {
  position: relative;
  top: -45%;

  padding-top: 10px;

  height: 75px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;

  background-color: white;
  border: none;
  border-radius: 10px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

.tab {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.75px;

  display: inline-block;
  border: 1px solid transparent;
  border-bottom: none;
  bottom: -1px;
  position: relative;
  list-style: none;
  padding: 6px 12px;
  cursor: pointer;
}

.react-tabs__tab-list {
  border-bottom: none !important;
  margin: 0;
  padding-left: 10px;
  padding-right: 10px;
}

.react-tabs__tab--selected {
  background: var(--pink);
  border: none;
  color: var(--purple);

  border-radius: 10px 10px 0 0;
  transition: 0.5s ease-in-out;
}

.roommates_tab {
  margin-top: 75px !important;
}

.fill_in {
  width: 75%;
  margin-left: auto;
  margin-right: auto;

  font-weight: 600;
  letter-spacing: 0.75px;
}

#search_button {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 55px;
  padding-right: 55px;

  margin-top: 30px;
  margin-bottom: 40px;
  border-radius: 12px;

  font: var(--pink);
  letter-spacing: 1.25px;
  background-color: var(--purple);
  border: none;
  transition: 0.5s;
}

#search_button:hover {
  opacity: 0.75;
}

@keyframes slide_down {
  from {
    bottom: -100%;
  }

  to {
    bottom: 100%;
  }
}

.tab_panel {
  padding: 50px;

  background-color: white;
  animation: slide_down 5s forwards;
} 
