
#user_profile_card {
  background-image: linear-gradient(to right, var(--pink) , var(--pink-no-alpha));
  border: none;
  border-radius: 15px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

#name {
  margin: 75px;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;

  color: white;
  font-size: calc(20px + 2vmin);
  font-weight: 600;
  letter-spacing: 1.5px;
}

.settingsButton {
  position: absolute;
  top: 5px;
  right: 5px;

  background-color: var(--pink-no-alpha) !important;
  color: white !important;
  border: none !important;
  border-radius: 10px !important;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;

  transition: 0.5s !important;
}

.settingsButton:hover {
  opacity: 0.7;
}
