#name {
  margin: 75px;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;

  font-size: calc(14px + 2vmin);
  font-weight: 600;
  letter-spacing: 0.5px;
}

.settingsButton {
  position: absolute;
  top: 5px;
  right: 5px;

  background-color: white !important;
  color: var(--purple) !important;
  border: none !important;
  border-radius: 10px !important;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;

  transition: 0.5s !important;
}

.settingsButton:hover {
  opacity: 0.8;
}
