
:root {
  --gray-white: rgb(226, 227, 227);
  --white: rgb(247, 247, 247);
  --pink: rgb(242, 194, 246, 0.5);
  --purple: rgb(191, 26, 197);
  --light-black: rgb(24, 24, 24);
}

body {
  background-color: var(--white);
}

hr {
	margin-top: 5px;
	margin-bottom: 15px;
	padding: 0;
}

input {
	border-radius: 7.5px;
}

.login-center {
	position: relative;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	color: black;
	font-size: calc(10px + 2vmin);
}

.login-square {
	border-radius: 15px;
	background-color: var(--purple);
	box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
	z-index: -1;
}

.login-top_left {
	position: absolute;
	top: 50px;
	left: 50px;

	height: 300px;
	width: 300px;
	opacity: 0.65;	
}

.login-bottom_right {
	position: absolute;
	bottom: 50px;
	right: 100px;
		
	height: 250px;
	width: 250px;
	opacity: 0.45;
}

.login-login_banner {
	height: 65vh;
	width: 75%;

	display: flex;
	align-items: center;
	justify-content: center;

	border-radius: 20px;
	background-color: var(--white);
	border-radius: 17.5px;
	border-width: 5px;
	border-style: solid;
	border-color: var(--purple);
	opacity: 0.925;	/* make it more pastel-like */
	box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.login-people {
	position: relative;
	top: 0;
	right: 20px;

	height: auto;
	max-width: 50%;
}

.login-login_region {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.login-instructions {
	padding: 7.5px;
	margin-top: 0;
	margin-bottom: 0;
}

.login-login_region input {
	margin-top: 15px;
	margin-bottom: 15px;
	margin-left: 0px;
	margin-right: 0px;

	font-size: calc(8px + 2vmin);
	background-color: var(--gray-white);
}

input::placeholder {
	font-size: 18px;
}

.login-login_button {
  padding: 7.5px;

  display: flex;
  height: 30px;
  width: 65%;

  align-items: center;
  justify-content: center;

  font-size: calc(10px + 1vmin);
  font-weight: 550;
  letter-spacing: 1.5px;
  color: white;
  border-radius: 12.5px;
  background-color: var(--purple);

  cursor: pointer;
  transition: 0.5s;
}

.login-login_button:hover {
	opacity: 0.85;
}
