
.viewed-profile-panel {
  text-align: left;
}

.search_header {
  position: relative;
  top: 0;
  left: 0;

  margin-top: 25px;

  height: 10px;
  width: 100%;
  background-color: white;
  opacity: 0.25;
}
