
.viewed-profile-panel {
  text-align: left;
}

.search_header {
  position: relative;
  top: 0;
  left: 0;

  margin-top: 25px;

  height: 10px;
  width: 100%;
  background-color: white;
  opacity: 0.25;
}


.search_footer {
  position: relative;
  bottom: 0;
  left: 0;

  margin-top: 100px;

  height: 75px;
  width: 100%;
  /*background-color: green;*/
  opacity: 0.25;
}
